### 51. Un dummy data frame con variables categóricas

__Agrecación de datos__ :  
+ Significa combinarlos con algún criterio el más típico es utilizar una __variable categórica__ para juntar toda la información referente a una misma categoría
+ Es muy útil para llevar a cabo un análisis categórico y tomar decisiones en base a qué categoría pertenece un elemento del modelo.

In [1]:
import numpy as np
import pandas as pd

In [3]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [4]:
n_filas = 500  # nº de personas

gender_data = []
income_data = []

for i in range(0, n_filas):
    gender_data.append(np.random.choice(gender)) # elegir algo aleatorio
    income_data.append(np.random.choice(income))

In [8]:
gender_data[:5]

['Female', 'Female', 'Male', 'Female', 'Male']

In [10]:
income_data[:5]

['Middle Class', 'Rich', 'Middle Class', 'Rich', 'Rich']

In [12]:
#Z -> N(0,1)
#N(m,n) -> mu + sd *Z
height = 175 + 30 * np.random.randn(n_filas)
weight = 65 + 25 * np.random.randn(n_filas)
age = 30 + 12 * np.random.randn(n_filas)
income = 18000 + 3500 * np.random.randn(n_filas)

In [13]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weight" : weight,
        "Age" : age,
        "Income": income
    }
)

In [14]:
data.head()

   Gender Economic Status      Height      Weight        Age        Income
0  Female    Middle Class  126.969516   79.815446  34.404717  14709.415878
1  Female            Rich  170.313672   24.260721  44.133110  18514.595255
2    Male    Middle Class  180.896899   77.326882  15.501580  15143.313270
3  Female            Rich  140.662430   37.277220  26.420433  23921.495647
4    Male            Rich  127.120168  107.191656  24.108620  16664.287948